.card {
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition-delay: 0.2s;
  width: 99%;
  align-content: center;
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 20px 15px 0 0;
}

.containers {
  padding: 2px 16px;
}
